{{!< default}}
<div class="about">
	<div class="container">
		<article class="{{post_class}} row">
			<section class="col s12 l10 offset-l1">
				<div class="responsive-video vimeo widescreen">
					<iframe src="https://player.vimeo.com/video/132101287?color=221fc0&title=0&byline=0&portrait=0" width="100%" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</section>
			<section class="col s12 l8 offset-l2">
				<p>
					For the last 5 years, Wine after Coffee has hand-picked the most
					exceptional animations for your healthy audiovisual diet.
				</p>
				<p>
					A regular feast of inspiration pushes us to do better, and we go even
					further when we work together. So, we are gathering this unique talent
					under one roof.
				</p>
			</section>
		</article>
	</div>
	<div class="dark-stripe">
		<div class="container">
			<div class="row">
				<section class="col s12 l10 offset-l1">
					<img src="/images/who.jpg" alt="" />
				</section>
				<section class="col s12 l8 offset-l2">
					<h3 class="center-align">WHO</h3>
					<p>
						This party is carefully curated and created with much love by a small
						group of people: <a href="http://jrcanest.co/" target="_blank">Jorge</a>,
						<a href="https://www.linkedin.com/in/teresatoews" target="_blank">Teresa</a>,
						<a href="http://www.claudiosalas.com/" target="_blank">Claudio</a> &
						<a href="http://www.sandervandijk.tv/" target="_blank">Sander</a>.
						They wanted to create a place for their motion, design &
						animation family to call home; to make a​ festival for the community,
						by the community. Always trying to keep it small, without any
						sponsors behind it, trying to break even, and hoping to create a
						festival that each one of them would love to attend.
					</p>
					<p>
						It all began when Jorge & Claudio started a vimeo channel called
						<a href="https://vimeo.com/channels/wineaftercoffee" target="_blank">WINE after COFFEE</a>,
						curating their favorite videos in one place. That channel grew and
						grew, and today has over 30K followers. This was all
						online, and the idea to bring this amazing community to the real
						world was incredibly exciting. So Blend was born. You can read more
						about its conception <a href="http://motionographer.com/2015/08/26/from-online-to-real-life-the-origins-of-wine-after-coffee-and-blend/" target="_blank">here</a>.
					</p>
					<p>
						The heart of Blend and WINE after COFFEE is to be a place, online
						and offline, where people from all around the world come to share
						awesome work, get inspired, learn, and collaborate. Because when we
						get together, amazing things happen.
					</p>
				</section>
			</div>
		</div>
	</div>
	<div class="container overlap center-align">
		<div class="row">
			<div class="col s12">
				<img src="/images/coffee-01.gif" width="118" alt="" />
				<p>
					This is Blend, made with love <br>
					by WINE after COFFEE.
				</p>
			</div>
		</div>
	</div>
</div>
{{>footer_newsletter}}
