{{!< character}}
<div class="valign-wrapper unsupported-device hide-on-large-only">
	<div class="row center-align valign">
		<div class="col s12">
			<h1>Oh no!</h1>
			<p>
				It seems you are trying to make your wooden character on a device that
				is not supported or with a tiny resolution. Please come back later on
				a bigger screen!
			</p>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row hide-on-med-and-down">
			<div class="col s3 form">
				<h1>The Blend <br> Avatar Maker</h1>
				<h2>Get cooler, get wonder!</h2>
				<p>
					Let your friends know you are coming to Blend and join the party at
					our home.
				</p>
				<p>
					Fields with * are required.
				</p>
				<form action="" method="post">
					<input type="hidden" name="ticketId" value="{{ticketId}}">
					<p class="name-label">name *</p>
					<input type="text" name="name" value="">
					<p class="surname-label">surname *</p>
					<input type="text" name="surname" value="">
					<p>message</p>
					<input type="text" name="message" value="" maxlength="25">
					<p>website</p>
					<input type="text" name="website" value="">
				</form>
			</div>
			<div class="col s6 character-builder center-align">
				<button type="button" class="btn imdone">I'm Done</button>
				<div class="wooden-character">
					<div id="block0"></div>
					<div id="block1"></div>
					<div id="block2"></div>
				</div>
			</div>
			<div class="col s2 props">
				<div class="row">
					<div class="col s12 right-align">
						<div class="section">
							<p>
								<a href="#" class="shuffle">
									<i class="small-medium material-icons">swap_calls</i>
								</a>
							</p>
						</div>
						<div class="section">
							<p>Number of blocks</p>
							<p class="amount-prop">
								<a class="btn-outline" data-prop="1" href="#">1</a>
								<a class="btn-outline" data-prop="2" href="#">2</a>
								<a class="btn-outline" data-prop="3" href="#">3</a>
							</p>
						</div>
						<div class="section block-props" data-prop="block0">
							<p>Block 1</p>
							<p class="shape-prop">
								<a class="btn-outline" data-prop="square" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="circl" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="hexagon" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="triangle" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="rectangle" data-block="0" href="#"></a>
							</p>
							<p class="size-prop">
								<a class="btn-outline" data-prop="small" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="medium" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="big" data-block="0" href="#"></a>
							</p>
							<p class="color-prop">
								<a class="btn-outline" data-prop="blue" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="beige" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="weird-pink" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="light-pink" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="pink" data-block="0" href="#"></a>
							</p>
							<p class="texture-prop">
								<a class="btn-outline" data-prop="flat" data-block="0" href="#"></a>
								<a class="btn-outline" data-prop="texture" data-block="0" href="#"></a>
							</p>
						</div>
						<div class="section block-props" data-prop="block1">
							<p>Block 2</p>
							<p class="shape-prop">
								<a class="btn-outline" data-prop="square" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="circl" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="hexagon" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="triangle" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="rectangle" data-block="1" href="#"></a>
							</p>
							<p class="size-prop">
								<a class="btn-outline" data-prop="small" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="medium" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="big" data-block="1" href="#"></a>
							</p>
							<p class="color-prop">
								<a class="btn-outline" data-prop="blue" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="beige" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="weird-pink" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="light-pink" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="pink" data-block="1" href="#"></a>
							</p>
							<p class="texture-prop">
								<a class="btn-outline" data-prop="flat" data-block="1" href="#"></a>
								<a class="btn-outline" data-prop="texture" data-block="1" href="#"></a>
							</p>
						</div>
						<div class="section block-props" data-prop="block2">
							<p>Block 3</p>
							<p class="shape-prop">
								<a class="btn-outline" data-prop="square" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="circl" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="hexagon" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="triangle" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="rectangle" data-block="2" href="#"></a>
							</p>
							<p class="size-prop">
								<a class="btn-outline" data-prop="small" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="medium" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="big" data-block="2" href="#"></a>
							</p>
							<p class="color-prop">
								<a class="btn-outline" data-prop="blue" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="beige" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="weird-pink" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="light-pink" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="pink" data-block="2" href="#"></a>
							</p>
							<p class="texture-prop">
								<a class="btn-outline" data-prop="flat" data-block="2" href="#"></a>
								<a class="btn-outline" data-prop="texture" data-block="2" href="#"></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
