{{!< character}}
<div class="valign-wrapper unsupported-device hide-on-large-only">
	<div class="row center-align valign">
		<div class="col s12">
			<h1>Oh no!</h1>
			<p>
				It seems you are trying to make your wooden character on a device that
				is not supported or with a tiny resolution. Please come back later on
				a bigger screen!
			</p>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row hide-on-med-and-down">
			<div class="col s3 form">
				<h1>The Blend <br> Avatar Maker</h1>
				<h2>Get cooler, get wonder!</h2>
				<p>
					Let your friends know you are coming to Blend and join the party at
					our home.
				</p>
				<form action="" method="post">
					<p>name</p>
					<input type="text" name="name" value="">
					<p>surname</p>
					<input type="text" name="surname" value="">
					<p>message</p>
					<input type="text" name="message" value="" maxlength="25">
					<p>website</p>
					<input type="text" name="website" value="">
				</form>
			</div>
			<div class="col s6 character-builder center-align">
				<button type="button" class="btn imdone">I'm Done</button>
				<div class="wooden-character"></div>
			</div>
			<div class="col s2 props">
				<div class="row">
					<div class="col s12 right-align">
						<div class="section">
							<p>Number of blocks</p>
							<p>
								<a class="btn-outline one-block" href="#">1</a>
								<a class="btn-outline two-block" href="#">2</a>
								<a class="btn-outline three-block selected" href="#">3</a>
							</p>
						</div>
						<div class="section">
							<p>Randomize it</p>
							<p>
								<a class="btn-outline big" href="#">?</a>
							</p>
						</div>
						<div class="section">
							<div class="block-props block1-props">
								<p>Block 1</p>
								<p>
									<a class="btn-outline square-block" href="#"></a>
									<a class="btn-outline circl-block" href="#"></a>
									<a class="btn-outline hexagon-block" href="#"></a>
									<a class="btn-outline triangle-block" href="#"></a>
									<a class="btn-outline rectangle-block" href="#"></a>
								</p>
								<p>
									<a class="btn-outline small-block" href="#"></a>
									<a class="btn-outline medium-block" href="#"></a>
									<a class="btn-outline big-block" href="#"></a>
								</p>
								<p>
									<a class="btn-outline blue-block" href="#"></a>
									<a class="btn-outline white-block" href="#"></a>
									<a class="btn-outline beige-block" href="#"></a>
									<a class="btn-outline pink-block" href="#"></a>
									<a class="btn-outline red-block" href="#"></a>
								</p>
								<p>
									<a class="btn-outline flat-block" href="#"></a>
									<a class="btn-outline texture-block" href="#"></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
