{{!< default}}
<div class="valign-wrapper">
	<div class="container valign-center">
		<div class="row">
			<div class="col s12 l10 offset-l1 center-align">
				<h1>VANCOUVER</h1>
				<h2>MAY 26 & 27 2017</h2>
				<p><img src="/images/blend-b.jpg" alt="" /></p>
				<p>
					Blend is a conference-style party in Vancouver for our motion, design
					& animation family. Because when we can get together,
					<a class="bold" href="https://vimeo.com/176173878">amazing things happen</a>.
				</p>
				<p>
					<a href="#modalticketnumber">Join the party!</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="modalticketnumber" class="modal">
	<div class="valign-wrapper">
		<div class="container">
			<div class="row">
				<div class="col s12 center-align">
					<div class="section">
						<h1>Type in your ticket number</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore.
						</p>
					</div>
					<div class="section">
						<input type="text" name="ticket_number" value="" placeholder="ticket number">
					</div>
					<div class="section">
						<input type="submit" value="SUBMIT" >
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
