{{!< default}}
<div class="location-template">
	<div class="location">
		<div class="container">
			<article class="row">
				<section class="col s12 l10 offset-l1">
					<div class="owl-carousel" data-indicators="true" >
						<div><img src="/images/vancouver/IMG_0889_cropped.jpg"></div>
						<div><img src="/images/vancouver/IMG_5963_cropped.jpg"></div>
						<div><img src="/images/vancouver/IMG_5972_cropped.jpg"></div>
						<div><img src="/images/vancouver/IMG_6019_cropped.jpg"></div>
					</div>
				</section>
				<section class="col s12 m8 offset-m2">
					<h3 class="center-align">VANCOUVER</h3>
					<p>
						Our amazing animation & design community is all over the
						globe, but we meet and support each other in Vancouver.
					</p>
					<p>
						Vancouver is like summer camp with a bustling local scene of
						breweries, coffee roasters, all kinds of arts & crafts, and so much
						amazing food. Don’t forget the mountains and ocean! It’s so beautiful
						and diverse here, and with all the programs, schools, and studios,
						it’s clear Vancouver loves animation too.
					</p>
				</section>
			</article>
		</div>
		<div class="dark-stripe">
			<div class="container">
				<div class="row">
					<div class="col s12 l6 offset-l1 center-align">
						<img src="/images/venue/IMG_5999.jpg" alt="" />
						<img src="/images/venue/IMG_5986.jpg" alt="" />
					</div>
					<div class="col s12 l4">
						<img src="/images/venue/IMG_5956.jpg" alt="" />
						<div class="breathe">
							<h3>VENUE</h3>
							<p>
								We will be hosting this year’s Blend at
								<a target="_blank" href="http://www.performanceworks.ca/">Performance Works</a>
								on <a target="_blank" href="http://granvilleisland.com/ ">Granville Island</a>,
								one of Vancouver’s hubs for arts and creativity.
							</p>
						</div>
					</div>
					<div class="col s12 l6 offset-l1 center-align">
					</div>
					<div class="col s12 l4">
					</div>
				</div>
			</div>
		</div>
		<div class="container overlap">
			<div class="row">
				<div class="col s12 l10 offset-l1 center-align">
					<img src="/images/cup-coffee.jpg" alt="" />
					<h3>ACCOMMODATIONS</h3>
				</div>
				<div class="col s12 l10 offset-l1">
					<p>
						Coming from afar? Welcome! You will like it here.
					</p>
					<p>
						There is a <a target="_blank" href="http://www.granvilleislandhotel.com/">hotel</a> right
						next door to our venue or if you prefer Airbnb, check out
						neighbourhoods like Granville Island, Olympic Village and Kitsilano
						which are all nearby. Downtown and Yaletown are also easily
						accessible from our venue thanks to the
						<a target="_blank" href="http://theaquabus.com/">Aquabus</a>.
					</p>
					<p>
						Vancouver is a very walkable city with <a target="_blank" href="#">bike</a>
						and car share options, like
						<a target="_blank" href="https://www.car2go.com/CA/en/vancouver/">Car2Go</a>,
						<a target="_blank" href="https://www.evo.ca/">Evo</a> and
						<a target="_blank" href="http://modo.coop/">Modo</a>,
						and a decent <a target="_blank" href="http://www.translink.ca/">public transit system</a>.
					</p>
				</div>
			</div>
		</div>
	</div>

</div>
