{{!< default}}
<div class="location-template">
	<div class="location">
		<div class="container">
			<article class="row">
				<section class="col s12 l10 offset-l1">
					<div class="carousel carousel-slider" data-indicators="true" >
						<a class="carousel-item" href="#one!"><img src="/images/vancouver/IMG_0889_cropped.jpg"></a>
						<a class="carousel-item" href="#two!"><img src="/images/vancouver/IMG_5963_cropped.jpg"></a>
						<a class="carousel-item" href="#three!"><img src="/images/vancouver/IMG_5972_cropped.jpg"></a>
						<a class="carousel-item" href="#four!"><img src="/images/vancouver/IMG_6019_cropped.jpg"></a>
					</div>
				</section>
				<section class="col s12 m8 offset-m2">
					<h3 class="center-align">VANCOUVER</h3>
					<p>
						We know that our amazing animation & design community is all over the
						globe, but we meet and support each other in Vancouver.
					</p>
					<p>
						Vancouver is like summer camp with a bustling local scene of
						breweries, coffee roasters, all kinds of arts & crafts, and so much
						amazing food. Don’t forget the mountains and ocean! It’s so beautiful
						and diverse here, and with all the programs, schools, and studios,
						it’s clear Vancouver loves animation too.
					</p>
				</section>
			</article>
		</div>
		<div class="dark-stripe">
			<div class="container">
				<div class="row">
					<div class="col s12 l6 offset-l1 center-align">
						<img src="/images/venue/IMG_5999.jpg" alt="" />
						<img src="/images/venue/IMG_5986.jpg" alt="" />
					</div>
					<div class="col s12 l4">
						<img src="/images/venue/IMG_5956.jpg" alt="" />
						<div class="breathe">
							<h3>VENUE</h3>
							<p>
								We will be hosting this year’s Blend at
								<a href="http://www.performanceworks.ca/">Performance Works</a>
								on Granville Island, one of Vancouver’s hubs for arts and creativity.
							</p>
						</div>
					</div>
					<div class="col s12 l6 offset-l1 center-align">
					</div>
					<div class="col s12 l4">
					</div>
				</div>
			</div>
		</div>
		<div class="container overlap">
			<div class="row">
				<div class="col s12 l10 offset-l1 center-align">
					<img src="/images/cup-coffee.jpg" alt="" />
					<h3>ACCOMMODATIONS</h3>
				</div>
				<div class="col s12 l10 offset-l1">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>
					<p class="offer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
					</p>
				</div>
			</div>
		</div>
	</div>

</div>

{{>footer_newsletter}}
