{{!< default}}
<div class="program-container">
	<div class="program">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h3 class="center-align">FRIDAY</h3>
				</div>
			</div>
		</div>
		<div class="light-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">9:00</div>
					<div class="col s9 m7 description">DOORS OPEN - Registration</div>
					<div class="col s3 m5 right-align time">10:00</div>
					<div class="col s9 m7 highlight">OPENING COFFEE TOAST</div>
					<div class="col s3 m5 right-align time"></div>
					<div class="col s9 m7 description">Titles (by Oddfellows)</div>
				</div>
			</div>
		</div>
		<div class="dark-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">10:20</div>
					<div class="col s9 m7 highlight">Bee Grandinetti <!--meu amor--></div>
					<div class="col s3 m5 right-align time">10:45</div>
					<div class="col s9 m7 highlight">Oddfellows</div>
					<div class="col s3 m5 right-align time">11:25</div>
					<div class="col s9 m7 highlight">Tips & Tricks Session</div>
				</div>
			</div>
		</div>
		<div class="light-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">11:40</div>
					<div class="col s9 m7 highlight">LUNCH</div>
				</div>
			</div>
		</div>
		<div class="dark-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">1:40</div>
					<div class="col s9 m7 highlight">Erica Gorochow</div>
					<div class="col s3 m5 right-align time">2:05</div>
					<div class="col s9 m7 highlight">John Black</div>
					<div class="col s3 m5 right-align time">2:30</div>
					<div class="col s9 m7 highlight">Robert Valley</div>
				</div>
			</div>
		</div>
		<div class="light-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">2:55</div>
					<div class="col s9 m7 highlight">BREAK</div>
				</div>
			</div>
		</div>
		<div class="dark-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">3:30</div>
					<div class="col s9 m7 highlight">Panel: The Pursuit of Originality</div>
					<div class="col s3 m5 right-align time"></div>
					<div class="col s9 m7 description">
						Live Animalators Episode hosted by Zac Dixon with
						Andrew Kramer, Erica Gorochow & Patrick Osborne
					</div>
					<div class="col s3 m5 right-align time">4:40</div>
					<div class="col s9 m7 highlight">Animade</div>
				</div>
			</div>
		</div>
		<div class="light-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">5:20</div>
					<div class="col s9 m7 highlight">DINNER</div>
					<div class="col s3 m5 right-align time">8:00</div>
					<div class="col s9 m7 description">
						AFTER PARTY - PERFORMANCE WORKS (Featuring Friendship Park)
					</div>
				</div>
			</div>
		</div>

		<br><br>

		<div class="container">
			<div class="row">
				<div class="col s12">
					<h3 class="center-align">SATURDAY</h3>
				</div>
			</div>
		</div>
		<div class="light-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">9:45</div>
					<div class="col s9 m7 description">DOORS OPEN - Registration</div>
					<div class="col s3 m5 right-align time">10:30</div>
					<div class="col s9 m7 highlight">Day Begins!</div>
					<div class="col s3 m5 right-align time"></div>
					<div class="col s9 m7 description">Titles (by Oddfellows)</div>
				</div>
			</div>
		</div>
		<div class="dark-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">10:40</div>
					<div class="col s9 m7 highlight">Tuna Bora</div>
					<div class="col s3 m5 right-align time">11:05</div>
					<div class="col s9 m7 highlight">Sander van Dijk</div>
					<div class="col s3 m5 right-align time">11:30</div>
					<div class="col s9 m7 highlight">Tips & Tricks Session</div>
				</div>
			</div>
		</div>
		<div class="light-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">11:45</div>
					<div class="col s9 m7 highlight">BREAK</div>
				</div>
			</div>
		</div>
		<div class="dark-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">12:00</div>
					<div class="col s9 m7 highlight">Patrick Osborne</div>
				</div>
			</div>
		</div>
		<div class="light-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">12:40</div>
					<div class="col s9 m7 highlight">LUNCH</div>
				</div>
			</div>
		</div>
		<div class="dark-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">2:20</div>
					<div class="col s9 m7 highlight">Carson Ting</div>
					<div class="col s3 m5 right-align time">2:45</div>
					<div class="col s9 m7 highlight">ILLO</div>
				</div>
			</div>
		</div>
		<div class="light-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">3:15</div>
					<div class="col s9 m7 highlight">BREAK</div>
				</div>
			</div>
		</div>
		<div class="dark-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">3:30</div>
					<div class="col s9 m7 highlight">Panel: Work, Play and Everything in Between</div>
					<div class="col s3 m5 right-align time"></div>
					<div class="col s9 m7 description">
						Hosted by Justin Cone with TJ Kearney (Oddfellows),
						Ilenia Notarangelo (ILLO) & Ed Barrett (Animade)
					</div>
					<div class="col s3 m5 right-align time">4:20</div>
					<div class="col s9 m7 highlight">Andrew Kramer</div>
				</div>
			</div>
		</div>
		<div class="light-section">
			<div class="container">
				<div class="row">
					<div class="col s3 m5 right-align time">5:00</div>
					<div class="col s9 m7 highlight">WINE TOAST</div>
					<div class="col s3 m5 right-align time">7:30</div>
					<div class="col s9 m7 description">AFTER PARTY - EARLS LOFT</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pink-section">
		<div class="container">
			<div class="row">
				<div class="col s12 center-align">
					<a href="/map.pdf" target="_blank">DOWNLOAD THE MAP</a>
				</div>
			</div>
		</div>
	</div>
</div>
