<nav>
  <div class="nav-wrapper nav-header">
    <a href="/" class="brand-logo">
		<img src="/images/blend_type_2x.png" width="104" alt="BLEND logo" />
	</a>
    <ul class="right nav">

			<li class="nav-social hide-on-med-and-down">
				{{#each navSocial}}
					<a href="{{link}}" target="_blank"><i class="fa fa-{{site}}"></i></a>
				{{/each}}
			</li>

    </ul>
  </div>
</nav>
