.character-template {
	background: @light-blue;
	color: @blue;
	font-size: 16px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;

	.container {
		min-width: 960px;
		.col {
			min-height: 680px;
			height: 100%;
		}
	}

	.btn-outline {
		display: inline-block;
		position: relative;
		border: solid 2px @blue;
		text-align: left;
		color: @blue;
		padding: 0;
		line-height: 20px;
		width: 20px;
		height: 20px;
		padding-left: 3px;
		&.big {
			line-height: 44px;
			width: 40px;
			height: 40px;
			font-size: 22px;
			padding-left: 13px;
		}
		&.selected {
			color: @light-blue;
			background: @blue;
		}
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			content: '';
		}
	}
	.btn-color( @c ) {
		background: @c;
		border-color: @c;
	}
	.btn-outline[data-prop="blue"] {
		.btn-color( @blue );
	}
	.btn-outline[data-prop="beige"] {
		.btn-color( @beige );
	}
	.btn-outline[data-prop="weird-pink"] {
		.btn-color( @weird-pink );
	}
	.btn-outline[data-prop="light-pink"] {
		.btn-color( @light-pink );
	}
	.btn-outline[data-prop="pink"] {
		.btn-color( @pink );
	}

	.square-icon( @c ) {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><rect x="6.2" y="6.1" width="7.7" height="7.7" stroke="@{c}" style="fill:none;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;"/></svg>');
	}
	.circle-icon( @c ) {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><circle class="st0" cx="10" cy="10" r="3.9" stroke="@{c}" style="fill:none;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;"/></svg>');
	}
	.hexagon-icon( @c ) {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><polygon points="12.6,5.5 15.1,10 12.6,14.4 7.4,14.4 4.9,10 7.4,5.5 " stroke="@{c}" style="fill:none;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;"/></svg>');
	}
	.triangle-icon( @c ) {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><polygon points="10,6.1 14.7,14.2 5.3,14.2 " stroke="@{c}" style="fill:none;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;"/></svg>');
	}
	.rectangle-icon( @c ) {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><rect x="4.3" y="7.6" width="11.3" height="4.7" stroke="@{c}" style="fill:none;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;"/></svg>');
	}
	.big-icon( @c ) {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><g><path fill="@{c}" d="M12,12.7c-0.7,0.8-1.4,1.2-2.4,1.2C7.5,13.9,6,12.2,6,10c0-2.2,1.6-3.9,3.6-3.9c1,0,1.7,0.4,2.4,1.2V6.9c0-0.5,0-0.6,0.6-0.6h0.9C14,6.3,14,6.4,14,6.9v6.2c0,0.5-0.1,0.6-0.6,0.6h-0.9c-0.5,0-0.6-0.1-0.6-0.6V12.7z M8.1,10c0,1.1,0.9,2.1,2,2.1c1.2,0,2-0.9,2-2.1c0-1.1-0.9-2-2-2C9,8,8.1,8.9,8.1,10z"/></g></svg>');
	}
	.medium-icon( @c ) {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><g><path fill="@{c}" d="M11.5,12c-0.5,0.6-1,0.9-1.8,0.9C8.1,12.9,7,11.7,7,10c0-1.6,1.2-2.9,2.7-2.9c0.7,0,1.3,0.3,1.8,0.9V7.7c0-0.4,0-0.4,0.4-0.4h0.7c0.4,0,0.4,0,0.4,0.4v4.6c0,0.4,0,0.4-0.4,0.4h-0.7c-0.4,0-0.4,0-0.4-0.4V12z M8.6,10c0,0.8,0.7,1.5,1.5,1.5c0.9,0,1.5-0.7,1.5-1.6c0-0.8-0.7-1.5-1.5-1.5C9.3,8.5,8.6,9.1,8.6,10z"/></g></svg>');
	}
	.small-icon( @c ) {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><g><path fill="@{c}" d="M11,11.4c-0.3,0.4-0.7,0.6-1.2,0.6c-1,0-1.8-0.8-1.8-1.9c0-1.1,0.8-1.9,1.8-1.9c0.5,0,0.9,0.2,1.2,0.6V8.5c0-0.3,0-0.3,0.3-0.3h0.4c0.3,0,0.3,0,0.3,0.3v3.1c0,0.3,0,0.3-0.3,0.3h-0.4c-0.3,0-0.3,0-0.3-0.3V11.4z M9,10c0,0.6,0.5,1,1,1c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1C9.5,9,9,9.4,9,10z"/></g></svg>');
	}
	.texture-icon( @c ) {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><path stroke="@{c}" style="fill:none;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;" d="M17.4-0.5c0,0-5.8,3.1-7.6,6.1c-1.3,2.2-2,4.8-0.7,8.4c0.9,2.3,3.5,4.8,5.1,6.4"/><path stroke="@{c}" style="fill:none;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;" d="M-0.9,7.5c0,0,5.1,0.1,6.5-2.7c0.8-1.8-0.2-5.4-0.2-5.4"/><path stroke="@{c}" style="fill:none;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;" d="M8,20.6c0,0-1-4.2-3.4-6.5c-1.9-1.8-4.8-2.4-4.8-2.4"/><path stroke="@{c}" style="fill:none;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;" d="M20,4.1c0,0-4.8,1.7-5.6,5.1c-0.8,3.4,2.9,7.3,5.9,8.1"/></svg>');
	}
	.flat-icon( @c ) {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><line class="st0" x1="20.4" y1="-0.4" x2="-0.4" y2="20.4" stroke="@{c}" style="fill:none;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;"/></svg>');
	}

	.btn-outline[data-prop="square"] {
		.square-icon( escape( @blue ) );
		&.selected {
			.square-icon( escape( @light-blue ) );
		}
	}
	.btn-outline[data-prop="circl"] {
		.circle-icon( escape( @blue ) );
		&.selected {
			.circle-icon( escape( @light-blue ) );
		}
	}
	.btn-outline[data-prop="hexagon"] {
		.hexagon-icon( escape( @blue ) );
		&.selected {
			.hexagon-icon( escape( @light-blue ) );
		}
	}
	.btn-outline[data-prop="triangle"] {
		.triangle-icon( escape( @blue ) );
		&.selected {
			.triangle-icon( escape( @light-blue ) );
		}
	}
	.btn-outline[data-prop="rectangle"] {
		.rectangle-icon( escape( @blue ) );
		&.selected {
			.rectangle-icon( escape( @light-blue ) );
		}
	}
	.btn-outline[data-prop="big"] {
		.big-icon( escape( @blue ) );
		&.selected {
			.big-icon( escape( @light-blue ) );
		}
	}
	.btn-outline[data-prop="medium"] {
		.medium-icon( escape( @blue ) );
		&.selected {
			.medium-icon( escape( @light-blue ) );
		}
	}
	.btn-outline[data-prop="small"] {
		.small-icon( escape( @blue ) );
		&.selected {
			.small-icon( escape( @light-blue ) );
		}
	}
	.btn-outline[data-prop="texture"] {
		.texture-icon( escape( @blue ) );
		&.selected {
			.texture-icon( escape( @light-blue ) );
		}
	}
	.btn-outline[data-prop="flat"] {
		.flat-icon( escape( @blue ) );
		&.selected {
			.flat-icon( escape( @light-blue ) );
		}
	}

	.form {
		position: relative;
		h1, h2 {
			text-transform: uppercase;
		}
		h1 {
			font-family: 'Futuraround';
			font-weight: bold;
			font-size: 30px;
		}
		h2 {
			font-size: 14px;
			font-family: 'Futuraround demi';
		}
		p {
			font-family: 'Futuraround book';
			font-size: 16px;
		}
		label {
			color: @blue;
		}
		form {
			position: absolute;
			bottom: 0%;
			p {
				margin: 0;
				text-transform: uppercase;
				font-size: 14px;
				font-family: 'Futuraround demi'
			}
			input[type="text"] {
				.input-text;
				text-align: left;
				height: 1.5rem;
				margin-bottom: 30px;
			}
			p.error {
				color: @pink;
			}
			input[type="text"].error {
				border-color: @pink;
			}
		}
	}

	.props {
		position: relative;
		padding-top: 15px;
		.shuffle {
			&:link, &:visited {
				color: @mid-blue;
			}
			&:active, &:hover {
				color: @blue;
			}
			.small-medium {
				font-size: 35px;
			}
		}
		p {
			font-family: 'Futuraround demi';
			font-size: 14px;
			text-transform: uppercase;
			margin: 0;
		}
		.block-props {
			display: none;
		}

	}

	.character-builder {
		position: relative;
		.imdone, .backtohome {
			margin-top: 56px;
		}
		.backtohome {
			display: none;
		}
		.wooden-character {
			position: absolute;
			text-align: center;
			width: 100%;
			bottom: 30px;

			.block {
				position: relative;
				margin: 0 auto;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
				}
			}

			.block-textures( @u ) {
				&#block0.texture-block {
					&::after {
						background-image: url('@{u}'), data-uri('/images/blocks/texture01_b.png');
					}
				}
				&#block1.texture-block {
					&::after {
						background-image: url('@{u}'), data-uri('/images/blocks/texture02_b.png');
					}
				}
				&#block2.texture-block {
					&::after {
						background-image: url('@{u}'), data-uri('/images/blocks/texture03_b.png');
					}
				}
			}

			// SQUARE BLOCKS
			.square-size( @sizew, @sizeh ) {
				width: @sizew;
				height: @sizeh;
			}
			.square-block {
				&.small-block { .square-size( 50px, 50px ) }
				&.medium-block { .square-size( 100px, 100px ) }
				&.big-block { .square-size( 160px, 160px ) }
				&.blue-block { background-color: @blue; }
				&.weird-pink-block { background-color: @weird-pink; }
				&.light-pink-block { background-color: @light-pink; }
				&.pink-block { background-color: @pink; }
				&.beige-block { background-color: @beige; }
				.block-textures( '/images/blocks/square_corners.svg' );
				&::after {
					background-image: url('/images/blocks/square_corners.svg');
				}
			}

			// CIRCLE BLOCKS
			.circle-size( @sizew, @sizeh ) {
				width: @sizew;
				height: @sizeh;
			}
			.circl-block {
				&.small-block { .circle-size( 50px, 50px ) }
				&.medium-block { .circle-size( 100px, 100px ) }
				&.big-block { .circle-size( 160px, 160px ) }
				&.blue-block { background-color: @blue; }
				&.weird-pink-block { background-color: @weird-pink; }
				&.light-pink-block { background-color: @light-pink; }
				&.pink-block { background-color: @pink; }
				&.beige-block { background-color: @beige; }
				.block-textures( '/images/blocks/circle_corners.svg' );
				&::after {
					background-image: url('/images/blocks/circle_corners.svg');
				}
			}

			// RECTANGLE BLOCKS
			.rectangle-size( @sizew, @sizeh ) {
				width: @sizew;
				height: @sizeh;
			}
			.rectangle-block {
				&.small-block { .rectangle-size( 50px, 20px ) }
				&.medium-block { .rectangle-size( 100px, 40px ) }
				&.big-block { .rectangle-size( 160px, 64px ) }
				&.blue-block { background-color: @blue; }
				&.weird-pink-block { background-color: @weird-pink; }
				&.light-pink-block { background-color: @light-pink; }
				&.pink-block { background-color: @pink; }
				&.beige-block { background-color: @beige; }
				.block-textures( '/images/blocks/rectangle_corners.svg' );
				&::after {
					background-image: url('/images/blocks/rectangle_corners.svg');
				}
			}

			// HEXAGON BLOCKS
			.hexagon-size( @sizew, @sizeh ) {
				width: @sizew;
				height: @sizeh;
			}
			.hexagon-block {
				&.small-block { .hexagon-size( 60px, 48px ) }
				&.medium-block { .hexagon-size( 100px, 80px ) }
				&.big-block { .hexagon-size( 160px, 128px ) }
				&.blue-block { background-color: @blue; }
				&.weird-pink-block { background-color: @weird-pink; }
				&.light-pink-block { background-color: @light-pink; }
				&.pink-block { background-color: @pink; }
				&.beige-block { background-color: @beige; }
				.block-textures( '/images/blocks/hexagon_corners.svg' );
				&::after {
					background-image: url('/images/blocks/hexagon_corners.svg');
				}
			}

			// TRIANGULAR BLOCKS
			.triangle-size( @sizew, @sizeh ) {
				width: @sizew;
				height: @sizeh;
			}
			.triangle-block {
				&.small-block { .triangle-size( 60px, 48px ) }
				&.medium-block { .triangle-size( 100px, 80px ) }
				&.big-block { .triangle-size( 160px, 128px ) }
				&.blue-block { background-color: @blue; }
				&.weird-pink-block { background-color: @weird-pink; }
				&.light-pink-block { background-color: @light-pink; }
				&.pink-block { background-color: @pink; }
				&.beige-block { background-color: @beige; }
				.block-textures( '/images/blocks/triangle_corners.svg' );
				&::after {
					background-image: url('/images/blocks/triangle_corners.svg');
				}
			}

		}
	}

}
.character-page {
	.btn {
		height: 40px;
		line-height: 42px;
		padding: 0 20px;
		font-size: 14px;
		color: @white;
		background: @blue;
		box-shadow: none;
	}
	.valign-wrapper {
		height: 100%;
	}
	.modal {
		background: @light-blue;
		color: @blue;
		top: 0 !important;
		bottom: 0;
		height: 100%;
		max-height: 100%;
		width: 100%;
		box-shadow: none;
	}
}
