// FOOTER NEWSLETTER
.footer {
	background: @light-pink;
	color: @beige;
	position: relative;
	overflow: hidden;
	padding-top: 36px;
	padding-bottom: 56px;
	h3 {
		font-size: 20px;
		margin-bottom: 0;
	}
	p.sub {
		margin-top: 0;
	}
	input[type=text],
	input[type=email] {
		.input-text;
		border-bottom: 1px solid @beige;
	}
	input[type=text]:focus,
	input[type=email]:focus {
		.input-text-focus;
		border-bottom: 1px solid @beige;
		box-shadow: 0 1px 0 0 @beige;
	}
	input[type=submit] {
		.input-submit;
		border: 2px solid @beige;
	}
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color: @beige;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: @beige;
		opacity: 1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: @beige;
		opacity: 1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: @beige;
	}
}
