// HOME
.home-template {
	.valign-wrapper {
		background: @light-blue;
	}
	color: @blue;
	.link-color( @blue );
	.bold {
		font-weight: bold;
	}

	.modal {
		background: @light-blue;
		top: 0 !important;
		bottom: 0;
		height: 100%;
		max-height: 100%;
		width: 100%;
		box-shadow: none;
	}

	.btn {
		.input-submit;
		color: @blue;
		height: 45px;
		padding: 0 25px;
		font-size: 20px;
		box-shadow: none;
	}

	input[type="text"] {
		.input-text;
	}
	input[type="text"]:focus {
		.input-text-focus;
	}
	input[type="submit"] {
		.input-submit;
	}
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color: @blue;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: @blue;
		opacity: 1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: @blue;
		opacity: 1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: @blue;
	}
}
